import init.skate.usb.rc

on early-init

    mount debugfs /sys/kernel/debug /sys/kernel/debug

on init
   
    # sdcard
    mkdir /storage 0050 root sdcard_r
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    # symlink
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard0 /sdcard
    export EXTERNAL_STORAGE /storage/sdcard0

    # sd-ext
    mkdir /sd-ext 0771 system system
    export SD_EXT_DIRECTORY /sd-ext

on fs
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@system /system ro remount
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    
    # zRAM
    swapon_all /fstab.skate

   # cutils/installd wants a media dir
    mkdir /data/media 0770 system system
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth


on post-fs-data
    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    
    # zRAM
    write /proc/sys/vm/page-cluster 0

on boot

# Setup boostpulse
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

    chown system system /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/down_differential

    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/boostpulse
    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold
    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy
    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chmod 0666 /sys/devices/system/cpu/cpufreq/ondemand/down_differential

# cpufreq configurations
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 500000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/down_threshold 30
# Kernel Samepage Merging (KSM)
    write /sys/kernel/mm/ksm/sleep_millisecs 4000
    write /sys/kernel/mm/ksm/pages_to_scan 256
    write /sys/kernel/mm/ksm/run 1

# Setup charging
    chown system system /sys/module/msm_battery/parameters/usb_chg_enable

# Setup bluetooth
    chown bluetooth net_bt_stack /sys/module/bluetooth_power/parameters/power
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state

    # BT Sleep
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/asleep
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwake
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/hostwake
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/btwake
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/proto

    chown system net_bt_stack /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0666 /dev/ttyHS0
    chown bluetooth net_bt_stack /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    mkdir /data/local
    chmod 0777 /data/local
    chown radio shell /data/local
    mkdir /data/local/tmp
    chmod 0777 /data/local/tmp
    chown radio shell /data/local/tmp

# Lights
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/grpfreq
    chown system system /sys/class/leds/green/grppwm
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/grpfreq
    chown system system /sys/class/leds/red/grppwm
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/grpfreq
    chown system system /sys/class/leds/amber/grppwm

# SD card polling
    chown system system /sys/module/g_android/parameters/product_id
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/android_usb/composition
    chown system system /sys/devices/platform/android_usb/remote_wakeup

# Enable MASS storage on SDCARD
#    write /sys/devices/platform/mass_storage/lun0/file /dev/block/mmcblk0p1
#    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1

# wifi
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/wifi 0770 system wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0770 /data/misc/wifi/sockets
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/system 0775 system system

setprop vold.post_fs_data_done 1

service qmuxd /system/bin/qmuxd 
    class main
    user radio

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start abtfilt

on property:init.svc.bluetoothd=stopped
    stop abtfilt

service hci_qcomm_init /system/bin/log -t qcom-bluetooth -p i "hci_qcomm_init service requested"
    class main
    user bluetooth
    group bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    class main
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin net_bt_stack
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd_wlan0

# WPA SETTINGS

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211,wext -c/data/misc/wifi/wpa_supplicant.conf \
    -e/data/misc/wifi/entropy.bin \
    -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# SDcard daemon

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service abtfilt /system/bin/abtfilt -c -d -z -n
    class main
    disabled
    oneshot

service akmd /system/bin/akmd8962
    class main
    user root
    oneshot
